<div class="panel panel-primary invoices-review">
  <div class="panel-body">
    <div class="print-header text-center">
      {{#if logoURL}}
        <img src={{logoURL}} class="report-logo">
      {{/if}}
      {{#if facilityName }}
        <h3>{{facilityName}}</h3>
      {{/if}}
      {{#if headerLine1}}
        <span>{{headerLine1}}</span><br>
      {{/if}}
      {{#if headerLine2}}
        <span>{{headerLine2}}</span><br>
      {{/if}}
      {{#if headerLine3}}
        <span>{{headerLine3}}</span><br>
      {{/if}}
    </div>
    <h3 class="text-center">
      {{t "print.invoice.titles.patients"}}
    </h3>
    <table>
      <tr>
        <td colspan="2" class="col-xs-8">
          {{t "print.invoice.labels.patientName"}} {{model.patient.displayName}}
        </td>
        <td class="col-xs-4">
          {{t "print.invoice.labels.patientId"}} {{model.patient.displayPatientId}}
        </td>
      </tr>
      <tr>
        <td class="col-xs-4">
          {{t "print.invoice.labels.patientAge"}} {{model.patient.age}}
        </td>
        <td class="col-xs-4">
          {{t "print.invoice.labels.dateAdmitted"}}{{date-format model.visit.startDate}}
        </td>
        <td class="col-xs-4">
          {{t "print.invoice.labels.dateDischarged"}}{{date-format model.visit.endDate}}
        </td>
      </tr>
    </table><br>
    <table class="table">
      <tr class="table-header">
        <th>{{t "labels.description"}}</th>
        <th class="text-right">{{t "billing.labels.actualCharges"}}</th>
        <th class="text-right">{{t "labels.discount"}}</th>
        <th class="text-right">{{t "billing.labels.insurance"}}</th>
        <th class="text-right">{{t "billing.labels.hmoCom"}}</th>
        <th class="text-right">{{t "labels.excess"}}</th>
      </tr>
      {{#each model.lineItemsByCategory as |categoryGroup|}}
        {{#each categoryGroup.items as |item index|}}
          {{#if item.total}}
            <tr>
              <td><strong>{{item.name}}</strong></td>
              <td class="text-right"><strong>{{number-format item.total}}</strong></td>
              <td class="text-right"><strong>{{number-format item.discount}}</strong></td>
              <td class="text-right"><strong>{{number-format item.nationalInsurance}}</strong></td>
              <td class="text-right"><strong>{{number-format item.privateInsurance}}</strong></td>
              <td class="text-right"><strong>{{number-format item.amountOwed}}</strong></td>
            </tr>
            {{#each item.details as |detail|}}
              <tr>
                <td>
                  {{t 'print.invoice.labels.indent'}} {{detail.name}}
                </td>
                <td class="text-right">
                  {{number-format detail.amountOwed}}
                </td>
                <td class="text-right">
                  {{t 'print.invoice.labels.empty'}}
                </td>
                <td class="text-right">
                  {{t 'print.invoice.labels.empty'}}
                </td>
                <td class="text-right">
                  {{t 'print.invoice.labels.empty'}}
                </td>
                <td class="text-right">
                  {{number-format detail.amountOwed}}
                </td>
              </tr>
            {{/each}}
          {{/if}}
        {{/each}}
        <tr>
          <td><strong>{{t 'labels.total'}} {{categoryGroup.category}}</strong></td>
          <td class="text-right"><strong>{{number-format categoryGroup.total}}</strong></td>
          <td class="text-right"><strong>{{number-format categoryGroup.discount}}</strong></td>
          <td class="text-right"><strong>{{number-format categoryGroup.nationalInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format categoryGroup.privateInsurance}}</strong></td>
          <td class="text-right"><strong>{{number-format categoryGroup.amountOwed}}</strong></td>
        </tr>
      {{/each}}
      <tr>
        <td><strong>{{t 'labels.total'}}</strong></td>
        <td class="text-right"><strong>{{number-format model.total}}</strong></td>
        <td class="text-right"><strong>{{number-format model.discount}}</strong></td>
        <td class="text-right"><strong>{{number-format model.nationalInsurance}}</strong></td>
        <td class="text-right"><strong>{{number-format model.privateInsurance}}</strong></td>
        <td class="text-right"><strong>{{number-format model.amountOwed}}</strong></td>
      </tr>
      <tr>
        <td><strong>{{t 'billing.labels.paymentsDeposits'}}</strong></td>
        <td colspan="4"></td>
        <td class="text-right">-{{number-format model.paidTotal}}</td>
        <td></td>
      </tr><br>
      <tr>
        <td><strong>{{t 'labels.grandTotal'}}</strong></td>
        <td colspan="4"></td>
        <td class="text-right"><strong>{{number-format model.remainingBalance}}</strong></td>
        <td></td>
      </tr>
    </table>
    <table>
      {{#if model.visit.dischargeInfo}}
        <tr>
          <td class="col-xs-12">
            {{t 'print.invoice.labels.dischargeNotes'}} {{model.visit.dischargeInfo}}
          </td>
        </tr>
      {{/if}}
      {{#if model.remarks}}
        <tr>
          <td class="col-xs-12">
            {{t 'print.invoice.labels.remarks'}} {{model.remarks}}
          </td>
        </tr>
      {{/if}}
      <tr>
        <td class="col-xs-8"></td>
        <td class="col-xs-4">{{t 'print.invoice.labels.billedBy'}} {{model.modifiedBy}}</td>
      </tr>
      <tr>
        <td class="col-xs-8"></td>
        <td class="col-xs-4">{{t 'print.invoice.labels.signhere'}}</td>
      </tr>
      <tr>
        <td class="text-center col-xs-8"></td>
        <td class="col-xs-4">{{t 'print.invoice.labels.billedDate'}} {{date-format model.billDate}}</td>
      </tr>
    </table>
  </div>
  <div class="panel-footer">
    {{#link-to "invoices.index" class="btn btn-default warning" }}{{t 'buttons.returnButton'}}{{/link-to}}
  </div>
</div>
